extends ./_layout.pug

append content
    div#sidebar
        br
        a.btn 熱門
        br
        br
        a.btn 數學
        br
        a.btn 科學
        br
        a.btn 機械人
        br
        a.btn DIY
        br