extends ./_layout.jade

block content
  // Breadcrumbs Start
  .rs-breadcrumbs.bg7.breadcrumbs-overlay
    .breadcrumbs-inner
      .container
        .row
          .col-md-12.text-center
            h1.page-title OUR COURSES 2
            ul
              li
                a.active(href='index.html') Home
              li Our Courses 2
  // Breadcrumbs End
  // Courses Start
  .rs-courses-list.sec-spacer
    .container
      .row
        .col-lg-8.col-md-12
          .row.course-item
            .col-md-6
              .course-img
                img(src='images/courses/10.jpg', alt='Courses Images')
                a.image-link(href='courses-details.html', title='Computer Engineering')
                  i.fa.fa-link
            .col-md-6
              .course-header
                span.course-category
                  a(href='#') Science
                h3.course-title
                  a(href='courses-details.html') Computer Engineering
                .course-date
                  i.fa.fa-clock-o
                  |  4 Year
                .course-value
                  | Price:
                  span $350
                                        &#x9;
              .course-body
                .course-desc
                  p
                    | This is Photoshop&apos;s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.El aenean lorem quis bibendum.
                .course-button
                  a(href='courses-details.html') READ MORE
          .row.course-item
            .col-md-6
              .course-img
                img(src='images/courses/11.jpg', alt='Courses Images')
                                          &#x9;
                a.image-link(href='courses-details.html', title='Business Management')
                  i.fa.fa-link
                                      &#x9;
            .col-md-6
              .course-header
                span.course-category
                  a(href='#') Business
                h3.course-title
                  a(href='courses-details.html') Business Management
                .course-date
                  i.fa.fa-clock-o
                  |  4 Year
                .course-value
                  | Price:
                  span $400
              .course-body
                .course-desc
                  p
                    | This is Photoshop&apos;s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.El aenean lorem quis bibendum.
                .course-button
                  a(href='courses-details.html') READ MORE
          .row.course-item
            .col-md-6
              .course-img
                img(src='images/courses/12.jpg', alt='Courses Images')
                a.image-link(href='courses-details.html', title='Diploma Electrical')
                  i.fa.fa-link
            .col-md-6
              .course-header
                span.course-category
                  a(href='#') Diploma
                h3.course-title
                  a(href='courses-details.html') Diploma Electrical
                .course-date
                  i.fa.fa-clock-o
                  |  4 Year
                .course-value
                  | Price:
                  span $300
              .course-body
                .course-desc
                  p
                    | This is Photoshop&apos;s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.El aenean lorem quis bibendum.
                .course-button
                  a(href='courses-details.html') READ MORE
          .row.course-item
            .col-md-6
              .course-img
                img(src='images/courses/13.jpg', alt='Courses Images')
                a.image-link(href='courses-details.html', title='Civil Engineering')
                  i.fa.fa-link
            .col-md-6
              .course-header
                span.course-category
                  a(href='#') Science
                h3.course-title
                  a(href='courses-details.html') Civil Engineering
                .course-date
                  i.fa.fa-clock-o
                  |  4 Year
                .course-value
                  | Price:
                  span $450
              .course-body
                .course-desc
                  p
                    | This is Photoshop&apos;s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.El aenean lorem quis bibendum.
                .course-button
                  a(href='courses-details.html') READ MORE
          .row.course-item
            .col-md-6
              .course-img
                img(src='images/courses/14.jpg', alt='Courses Images')
                a.image-link(href='courses-details.html', title='Bachelor of Arts')
                  i.fa.fa-link
            .col-md-6
              .course-header
                span.course-category
                  a(href='#') Humanities
                h3.course-title
                  a(href='courses-details.html') Bachelor of Arts
                .course-date
                  i.fa.fa-clock-o
                  |  4 Year
                .course-value
                  | Price:
                  span $450
              .course-body
                .course-desc
                  p
                    | This is Photoshop&apos;s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.El aenean lorem quis bibendum.
                .course-button
                  a(href='courses-details.html') READ MORE
          nav.mt-50(aria-label='Page navigation example')
            ul.pagination
              li.page-item.disabled
                a.page-link.fa.fa-angle-left(href='#', tabindex='-1')
              li.page-item
                a.page-link.active(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link.dotted(href='#') ...
              li.page-item
                a.page-link(href='#') 5
              li.page-item
                a.page-link(href='#') 6
              li.page-item
                a.page-link.fa.fa-angle-right(href='#')
        .col-lg-4.col-md-12
          .sidebar-area
            .search-box
              h3.title Search Courses
              .box-search
                input#srch-term.form-control(placeholder='Search Here ...', name='srch-term', type='text')
                button.btn.btn-default(type='submit')
                  i.fa.fa-search(aria-hidden='true')
            .cate-box
              h3.title Categories
              ul
                li
                  i.fa.fa-angle-right(aria-hidden='true')
                  a(href='#')
                    | Analysis &amp; Features
                    span (05)
                li
                  i.fa.fa-angle-right(aria-hidden='true')
                  a(href='#')
                    | Video Reviews
                    span (07)
                li
                  i.fa.fa-angle-right(aria-hidden='true')
                  a(href='#')
                    | Engineering Tech
                    span (09)
                li
                  i.fa.fa-angle-right(aria-hidden='true')
                  a(href='#')
                    | Righteous Indignation
                    span (08)
                li
                  i.fa.fa-angle-right(aria-hidden='true')
                  a(href='#')
                    | General Education
                    span (04)
            .latest-courses
              h3.title Latest Courses
              .post-item
                .post-img
                  a(href='blog-details.html')
                    img(src='images/blog-details/sm1.jpg', alt='', title='News image')
                .post-desc
                  h4
                    a(href='blog-details.html') Raken develops reporting The software
                  span.duration
                    i.fa.fa-clock-o(aria-hidden='true')
                    |  4 Years
                  span.price
                    | Price:
                    span $350
              .post-item
                .post-img
                  a(href='blog-details.html')
                    img(src='images/blog-details/sm2.jpg', alt='', title='News image')
                .post-desc
                  h4
                    a(href='blog-details.html') Raken develops reporting The software
                  span.duration
                    i.fa.fa-clock-o(aria-hidden='true')
                    |  4 Years
                  span.price
                    | Price:
                    span $350
              .post-item
                .post-img
                  a(href='blog-details.html')
                    img(src='images/blog-details/sm3.jpg', alt='', title='News image')
                .post-desc
                  h4
                    a(href='blog-details.html') Raken develops reporting The software
                  span.duration
                    i.fa.fa-clock-o(aria-hidden='true')
                    |  4 Years
                  span.price
                    | Price:
                    span $350
            .tags-cloud.clearfix
              h3.title Product Tags
              ul
                li
                  a(href='#') SCIENCE
                
                li
                  a(href='#') HUMANITIES
                
                li
                  a(href='#') DIPLOMA
                
                li
                  a(href='#') BUSINESS
                
                li
                  a(href='#') SPROTS
                
                li
                  a(href='#') RESEARCH
                
                li
                  a(href='#') ARTS
                
                li
                  a(href='#') ADMISSIONS
            .newsletter
              h4 Newsletter
              p Sign up for our Newsletter !
              .box-newsletter
                input#newsletter-term.form-control(placeholder='support@rstheme.com', name='newsletter-term', type='text')
                button.btn.btn-default(type='submit')
                  i.fa.fa-arrow-right(aria-hidden='true')
  // Courses End
  // Partner Start
  #rs-partner.rs-partner.pt-70.pb-170.sec-color
    .container
      .rs-carousel.owl-carousel(data-loop='true', data-items='5', data-margin='80', data-autoplay='true', data-autoplay-timeout='5000', data-smart-speed='2000', data-dots='false', data-nav='false', data-nav-speed='false', data-mobile-device='2', data-mobile-device-nav='false', data-mobile-device-dots='false', data-ipad-device='4', data-ipad-device-nav='false', data-ipad-device-dots='false', data-md-device='5', data-md-device-nav='false', data-md-device-dots='false')
        .partner-item
          a(href='#')
            img(src='images/partner/1.png', alt='Partner Image')
        
        .partner-item
          a(href='#')
            img(src='images/partner/2.png', alt='Partner Image')
        
        .partner-item
          a(href='#')
            img(src='images/partner/3.png', alt='Partner Image')
        
        .partner-item
          a(href='#')
            img(src='images/partner/4.png', alt='Partner Image')
        
        .partner-item
          a(href='#')
            img(src='images/partner/5.png', alt='Partner Image')
  // Partner End