extends ./_layout.pug

block content
  #rs-slider.slider-overlay-2
    #home-slider
      .item.active
        img(src='images/slider/home1/slide1.jpg', alt='Slide1')
        .slide-content
          .display-table
            .display-table-cell
              .container.text-center
                h1.slider-title(data-animation-in='fadeInLeft', data-animation-out='animate-out') &#x60F3;&#x5B78;&#x91CE;&#xFF1F;
                p.slider-desc(data-animation-in='fadeInUp', data-animation-out='animate-out')
                  | Fusce sem dolor, interdum in efficitur at, faucibus nec lorem.Sed nec molestie justo.
                  br.hidden-sm-dow
                  |  Nunc quis sapien in arcu pharetra volutpat.Morbi nec vulputate dolor.
                a.sl-readmore-btn.mr-30(href='#', data-animation-in='lightSpeedIn', data-animation-out='animate-out') READ MORE
                a.sl-get-started-btn(href='#', data-animation-in='lightSpeedIn', data-animation-out='animate-out') GET STARTED NOW
      .item
        img(src='images/slider/home1/slide2.jpg', alt='Slide2')
        .slide-content
          .display-table
            .display-table-cell
              .container.text-center
                h1.slider-title(data-animation-in='fadeInRight', data-animation-out='animate-out') &#x60F3;&#x6559;&#x4EBA;?
                p.slider-desc(data-animation-in='fadeInUp', data-animation-out='animate-out')
                  | Fusce sem dolor, interdum in efficitur at, faucibus nec lorem.Sed nec molestie justo.
                  br.hidden-sm-dow
                  |  Nunc quis sapien in arcu pharetra volutpat.Morbi nec vulputate dolor.
                a.sl-readmore-btn.mr-30(href='#', data-animation-in='fadeInUp', data-animation-out='animate-out') READ MORE
                a.sl-get-started-btn(href='#', data-animation-in='fadeInUp', data-animation-out='animate-out') GET STARTED NOW
  #rs-courses.rs-courses.sec-color.sec-spacer
    .container
      .sec-title.mb-50.text-center
        h2 熱門文章
          p
          | Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.
      .row
        .col-md-12
          .rs-carousel.owl-carousel(data-loop='true', data-items='3', data-margin='30', data-autoplay='false', data-autoplay-timeout='5000', data-smart-speed='1200', data-dots='true', data-nav='true', data-nav-speed='false', data-mobile-device='1', data-mobile-device-nav='true', data-mobile-device-dots='true', data-ipad-device='2', data-ipad-device-nav='true', data-ipad-device-dots='true', data-md-device='3', data-md-device-nav='true', data-md-device-dots='true')
            .cource-item
              .cource-img
                img(src='images/courses/1.jpg', alt='')
                a.image-link(href='courses-details.html', title='University Tour 2018')
                  i.fa.fa-link
                span.course-value $450
              .course-body  
                a.course-category(href='#') Science
                h4.course-title
                  a(href='courses-details.html') Electrical Engineering
                .review-wrap
                  ul.rating
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star-half-empty
                  span.review 25 Reviews
                .course-desc
                  p
                    | Cras ultricies lacus consectetur, consectetur
                    | scelerisque arcu curabitur
              .course-footer
                .course-time
                  span.label Course Time
                  span.desc 3 Year
                .course-student
                  span.label Course Student
                  span.desc 95
                .class-duration
                  span.label Class Duration
                  span.desc 8:30-4:00
            .cource-item
              .cource-img
                img(src='images/courses/2.jpg', alt='')
                a.image-link(href='courses-details.html', title='University Tour 2018')
                  i.fa.fa-link
                span.course-value $450
              .course-body
                a.course-category(href='#') Science
                h4.course-title
                  a(href='courses-details.html') Computer Engineering
                .review-wrap
                  ul.rating
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star-half-empty
                  span.review 39 Reviews
                .course-desc
                  p
                    | Cras ultricies lacus consectetur, consectetur scelerisque arcu curabitur
              .course-footer
                .course-time
                  span.label Course Time
                  span.desc 4 Years
                .course-student
                  span.label Course Student
                  span.desc 99
                .class-duration
                  span.label Class Duration
                  span.desc 8:30-4:00
            .cource-item
              .cource-img
                img(src='images/courses/3.jpg', alt='')
                a.image-link(href='courses-details.html', title='University Tour 2018')
                  i.fa.fa-link
                span.course-value $450
              .course-body
                a.course-category(href='#') Science
                h4.course-title
                  a(href='courses-details.html') Civil Engineering
                .review-wrap
                  ul.rating
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star-half-empty
                  span.review 22 Reviews
                .course-desc
                  p
                    | Cras ultricies lacus consectetur, consectetur
                    | scelerisque arcu curabitur
              .course-footer
                .course-time
                  span.label Course Time
                  span.desc 3.5 Years
                .course-student
                  span.label Course Student
                  span.desc 80
                .class-duration
                  span.label Class Duration
                  span.desc 8:30-4:00
  #rs-courses-2.rs-courses.sec-color.sec-spacer
    .container
      .sec-title.mb-50.text-center
        h2 最新文章
        p
          | Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.
      .row
        .col-md-12
          .rs-carousel.owl-carousel(data-loop='true', data-items='3', data-margin='30', data-autoplay='false', data-autoplay-timeout='5000', data-smart-speed='1200', data-dots='true', data-nav='true', data-nav-speed='false', data-mobile-device='1', data-mobile-device-nav='true', data-mobile-device-dots='true', data-ipad-device='2', data-ipad-device-nav='true', data-ipad-device-dots='true', data-md-device='3', data-md-device-nav='true', data-md-device-dots='true')
            .cource-item
              .cource-img
                img(src='images/courses/1.jpg', alt='')
                a.image-link(href='courses-details.html', title='University Tour 2018')
                  i.fa.fa-link
                span.course-value $450
              .course-body
                a.course-category(href='#') Science
                h4.course-title
                  a(href='courses-details.html') Electrical Engineering
                .review-wrap
                  ul.rating
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star
                    li.fa.fa-star-half-empty
                  span.review 25 Reviews
                .course-desc
                  p Cras ultricies lacus consectetur, consectetur scelerisque arcu curabitur
                .course-footer
                  .course-time
                    span.label Course Time
                    span.desc 3 Year
                  .course-student
                    span.label Course Student
                    span.desc 95
                  .class-duration
                    span.label Class Duration
                    span.desc 8:30-4:00
              .cource-item
                .cource-img
                  img(src='images/courses/2.jpg', alt='')
                  a.image-link(href='courses-details.html', title='University Tour 2018')
                    i.fa.fa-link
                  span.course-value $450
                .course-body
                  a.course-category(href='#') Science
                  h4.course-title
                    a(href='courses-details.html') Computer Engineering
                  .review-wrap
                    ul.rating
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star-half-empty
                    span.review 39 Reviews
                  .course-desc
                    p
                      | Cras ultricies lacus consectetur, consectetur
                      | scelerisque arcu curabitur
                .course-footer
                  .course-time
                    span.label Course Time
                    span.desc 4 Years
                  .course-student
                    span.label Course Student
                    span.desc 99
                  .class-duration
                    span.label Class Duration
                    span.desc 8:30-4:00
              .cource-item
                .cource-img
                  img(src='images/courses/3.jpg', alt='')
                  a.image-link(href='courses-details.html', title='University Tour 2018')
                    i.fa.fa-link
                  span.course-value $450
                .course-body
                  a.course-category(href='#') Science
                  h4.course-title
                    a(href='courses-details.html') Civil Engineering
                  .review-wrap
                    ul.rating
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star-half-empty
                    span.review 22 Reviews
                  .course-desc
                    p
                      | Cras ultricies lacus consectetur, consectetur
                      | scelerisque arcu curabitur
                .course-footer
                  .course-time
                    span.label Course Time
                    span.desc 3.5 Years
                  .course-student
                    span.label Course Student
                    span.desc 80
                  .class-duration
                  span.label Class Duration
                    span.desc 8:30-4:00
//- Courses End