
<div class="full-width-header">
	<div class="rs-toolbar">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="rs-toolbar-left">
						<div class="welcome-message">
							<i class="fa fa-bank"></i><span>Welcome to <%= site_config.title %></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="rs-toolbar-right">
						<div class="toolbar-share-icon">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
						<a href="#" class="apply-btn">Apply Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<header id="rs-header" class="rs-header">
		<div class="rs-header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="header-contact">
							<div id="info-details" class="widget-text">
								<i class="glyph-icon flaticon-email"></i>
								<div class="info-text">
									<a href="mailto:info@domain.com">
										<span>Mail Us</span>
										info@domain.com
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="logo-area text-center">
							<a href="index.html"><img src="images/logo.png" alt="logo"></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="header-contact pull-right">
							<div id="phone-details" class="widget-text">
								<i class="glyph-icon flaticon-phone-call"></i>
								<div class="info-text">
									<a href="tel:4155551234">
										<span>Call Us</span>
										+1234-567-890
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="menu-area menu-sticky">
			<div class="container">
				<div class="main-menu">
					<div class="row">
						<div class="col-sm-12">
							<a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
							<nav class="rs-menu">
								<ul class="nav-menu">
									<li class="current-menu-item current_page_item"> <a href="/" class="home">主頁</a></li>
									<li class=""> <a href="#">關於 Shoulders</a></li>
									<li class="menu-item-has-children"> <a href="#">分類</a>
										<ul class="sub-menu">
											<li><a href="#">數學</a></li>
											<li><a href="#">科學</a></li>
											<li><a href="#">機械人</a></li>
											<li><a href="#">動手做</a></li>
										</ul>
									</li>
								</ul>
							</nav>
							<div class="right-bar-icon rs-offcanvas-link text-right">
								<a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#"><i class="fa fa-search"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>