extends ./_layout.pug

append css

block content
    div.login
        div.login-box
            button#login-google
                i.fa.fa-google
                span Google
            button#login-facebook
                i.fa.fa-facebook
                span Facebook
            button#login-twitter
                i.fa.fa-twitter
                span Twitter
            div#or-container
                hr.or-hr
                div#or OR
            div.email-container
                form(action='#')
                    label Email:
                    br
                    input(type='email', placeholder='you@example.org')#login-email
                    label Password:
                    br
                    input(type='password', placeholder='******')#login-password
                    button(type='submit')#login-button Login


