header {
	display: flex;
	justify-content: center;
	background-color: $primary;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;

	.header {
		display: flex;
		justify-content: space-between;

		.left {
			div {
				display: flex;
				align-items: center;
			}

			.title {
				color: $white;
				margin-right: 2rem;
				text-decoration: none;
			}

			#search-button {
				color: $white;
				background-color: transparent;
				box-shadow: none;
			}
		}

		.right {
			#log-in {
				color: $white;
				background-color: transparent;
			}

			#sign-up {
				color: $primary;
			}
		}
	}
}
