// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// App color
@import "color";
@import "brand-color";

// Bootstrap
@import "../../../bower_components/bootstrap/scss/bootstrap";

@import "header";
@import "footer";
@import "login";
@import "sidebar";

.container {
	width: 100%;
	max-width: 1280px;
}

.body-container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	//max-width: 1280px;
	margin-top: 4rem;
}


